# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/ad-eureka/target/
/ad-gateway/target/
/jian-ad-service/ad-common/target/
/jian-ad-service/ad-search/target/
/jian-ad-service/ad-sponsor/target/